[run]
relative_files = True
source =
    ./auditor_toolkit
    ./website_auditor

[report]
show_missing = True
skip_empty = True
omit =
    toolkit_tests/*
    money-machine/test_*.py
    integrations/*/tests/*
    auditor_toolkit/**/__init__.py
    website_auditor/**/__init__.py
    .venv/*
    .venv-email/*

[xml]
output = coverage.xml
